DBNAME=db_name
USER=user
PASSWORD=password
HOST=host
PORT=port
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_HOST_USER=no-reply@example.com
EMAIL_HOST_PASSWORD=your_password
EMAIL_USE_TLS=true
DEFAULT_FROM_EMAIL=FreelanceUZ <no-reply@example.com>
